.feeder--ani .feeder-svg{
    animation: swing 0.5s ease-in-out;
}

@keyframes swing {
    0% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(0deg);
    }
}