/*html, body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    height: 100%; */
/*}*/

/*.background {*/
/*    background-image: url('/tank2.jpg'); */
/*    background-size: cover;*/
/*    background-position: center;*/
/*    height: 100vh;*/
/*    width: 100%;*/
/*  }*/

/*.small-fish {*/
/*    width: 150px;*/
/*    height: auto; */
/*}*/

:root {
    --spacing: 5px;
}

.scene {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
    background-image: url("../public/bedroom-4138509.jpg");
    background-size: cover;
    position: relative;
}

.scene__feeder {
    height: 150px;
    z-index: 2;
}

.scene__tank {
    flex-grow: 1; /* make tank fill the rest of the space */
    /*background-image: url('/tank7.png');*/
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    z-index: 1;
    border: var(--spacing) solid #333333;
}

/*.scene__tank::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    background-image: url('../public/background2.gif');*/
/*    background-size: cover;*/
/*    opacity: 0.9;*/
/*    z-index: 0;*/
/*}*/

.video-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    object-fit: cover;
}

.end-countdown {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding: 1rem;
    color: orangered;
    background: rgba(0, 128, 128, 0.8);
    font-family: "Press Start 2P", "Arial Black", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: var(--spacing);
    margin-right: var(--spacing);
    opacity: 0;
    transition: opacity 0.5s ease-out;
    border: 1px dashed orangered;
}

.end-countdown-ani{
    opacity: 1;
    transition: opacity 0.25s ease-in;
}

.dayNight-overlay {
    position: absolute;
    inset: 0;
    z-index: 8;
    animation: dayNight 38s infinite; /* Sync with music track which is 38 seconds */
    pointer-events: none;
    mix-blend-mode: multiply;
}

@keyframes dayNight{
    0% {
        background: rgba(255, 255, 255, 0.1); /* Very transparent white */
    }
    35% {
        background: rgba(255, 200, 150, 0.5); /* Light orange sunrise */
    }
    55% {
        background: rgba(100, 200, 250, 0.2); /* Blue regular day*/
    }
    90% {
        background: rgba(51, 51, 51, 0.7); /* night */
    }
    100% {
        background: rgba(255, 255, 255, 0.1); /* loop back to 0% */
    }
}