/*html, body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    height: 100%; */
/*}*/

/*.background {*/
/*    background-image: url('/tank2.jpg'); */
/*    background-size: cover;*/
/*    background-position: center;*/
/*    height: 100vh;*/
/*    width: 100%;*/
/*  }*/

/*.small-fish {*/
/*    width: 150px;*/
/*    height: auto; */
/*}*/

.scene {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
    background-image: url("../public/bedroom-4138509.jpg");
    background-size: cover;
}

.scene__feeder {
    height: 150px;
    z-index: 2;
}

.scene__tank {
    flex-grow: 1; /* make tank fill the rest of the space */
    /*background-image: url('/tank7.png');*/
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    z-index: 1;
    border: 5px solid #333333;
}

/*.scene__tank::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    background-image: url('../public/background2.gif');*/
/*    background-size: cover;*/
/*    opacity: 0.9;*/
/*    z-index: 0;*/
/*}*/

.video-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    object-fit: cover;
}